body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #494949;
  font-size: 18px;
  font-weight: lighter;
}

.banner {
  background-image: url('../Desktop/philipp-pilz-CXCu5SlO268-unsplash.jpeg');
  background-size: cover;
  text-align: center;
  color: white;
  padding: 100px 0;
}

h1, h2 {
  font-family: 'Montserrat', sans serif;
  font-weight: bold;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

a {
  color: #4352A1;
  text-decoration : none;
}

.banner {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  color: bisque;
  padding: 120px O;
}

.banner h1 {
  font-size: 38px;
}

.banner p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: O.8;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.link {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link:hover {
  background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}

@media (max-width: 900px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 750px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
